/*          Fonts          */
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:wght@400;700&display=swap");

/*          Colors          */
$mustard-yellow: #f6bd3a;
$morning-grey: #f0f0f0;
$almost-black: #282321;
$night-grey: #83828a;
$outlandish-orange: #ec6315;
$just-white: #ffffff;

/*          Font Sizes          */
// Mobile:
$mobile-size-1: 36px;
$mobile-size-2: 24px;
$mobile-size-3: 16px;
$mobile-size-4: 14px;
$mobile-size-5: 12px;
$mobile-size-6: 10px;

// Desktop:
$desktop-size-1: 72px;
$desktop-size-2: 48px;
$desktop-size-3: 28px;
$desktop-size-4: 22px;
$desktop-size-5: 20px;
$desktop-size-6: 16px;

/*          Page Configs          */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $just-white;
}

/*          Text Configs          */
// Desktop:
h1,
h2,
h3,
h4,
h5,
p,
a {
  line-height: 150%;
  color: $almost-black;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display";
}

h5,
p,
a {
  font-family: "Fauna One";
}

h1 {
  font-size: $desktop-size-1;
  font-weight: 700;
}

h2 {
  font-size: $desktop-size-2;
  letter-spacing: 7px;
  font-weight: 700;
}

.featured-h2 {
  color: $mustard-yellow;
  letter-spacing: normal;
}

.projects-h2 {
  letter-spacing: normal;
  font-weight: 400;
}

h3 {
  font-size: $desktop-size-3;
  font-weight: 400;
  color: $night-grey;
}

.skills-h3 {
  color: $mustard-yellow;
}

h4 {
  font-size: $desktop-size-4;
  font-weight: 400;
}

.hero-h4 {
  font-family: "Fauna One";
}

.featured-h4 {
  letter-spacing: 7px;
  color: $night-grey;
}

.projects-h4 {
  color: $night-grey;
}

h5,
input,
textarea {
  font-size: $desktop-size-5;
  font-weight: 400;
}

.projects-h5 {
  color: $night-grey;
}

p {
  font-size: $desktop-size-6;
}

a {
  font-size: $desktop-size-5;
  text-decoration: none;
}

a:hover {
  color: $mustard-yellow;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

// Mobile:
@media only screen and (max-width: 800px) {
  h1 {
    font-size: $mobile-size-1;
  }

  h2 {
    font-size: $mobile-size-2;
  }

  h3 {
    font-size: $mobile-size-3;
  }

  h4 {
    font-size: $mobile-size-4;
  }

  h5,
  input,
  textarea {
    font-size: $mobile-size-5;
  }

  p {
    font-size: $mobile-size-6;
  }
}
