@import "base.scss";

/*          General Configs          */
// Desktop:
section:nth-child(n + 3) {
  padding: 4.5rem 9rem;
}

.mobile {
  display: none;
}

// Mobile:
@media only screen and (max-width: 800px) {
  section:nth-child(n + 3) {
    padding: 2.25rem 1.125rem;
  }

  .mobile {
    display: flex;
  }
}

/*                  1                 */
/*           Top Navigation          */
// Desktop:
.nav-sect {
  padding: 1rem 9rem;
  background-color: $morning-grey;
  overflow: hidden;
  position: sticky;
  top: 0;

  .nav-logo {
    float: left;
  }

  .nav-items {
    float: right;
    a {
      padding-left: 2.5rem;
    }
  }
}

// Mobile:
@media only screen and (max-width: 800px) {
  .nav-sect {
    padding: 1rem 1.125rem;
    overflow: hidden;

    .nav-logo {
      float: left;
    }

    .open-icon {
      float: right;
    }

    .nav-items {
      height: 100vh;
      background-color: $almost-black;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: top 1s ease;
      display: none;

      .collapse-icon {
        display: block;
        align-items: center;
      }

      a:nth-child(1) {
        padding-bottom: 3rem;
      }

      a {
        display: block;
        color: $mustard-yellow;
        padding: 1.5rem;
      }

      ul {
        padding: 0;

        li {
          padding-top: 3rem;
        }
      }
    }
  }
}

/*                  2                 */
/*            Hero Section           */
// Desktop:
.hero-sect {
  padding: 3.75rem 8rem 0rem 8rem;
  display: grid;
  grid-template-columns: 40% auto;

  .hero-img {
    img {
      max-width: 100%;
    }
  }

  .hero-info {
    .hero-text {
      float: left;
      text-align: right;

      h1 {
        padding-top: 4.75rem;
      }

      h4 {
        padding-top: 2rem;
        padding-bottom: 4rem;
      }

      hr {
        max-width: 7rem;
        border-width: 0.5px;
        margin-left: 85%;
      }
    }

    .hero-socials {
      float: right;
      padding-top: 8rem;
      padding-left: 1.5rem;

      ul {
        li:not(:last-child) {
          padding-bottom: 2.5rem;
        }
      }
    }
  }
}

/*                  3                 */
/*          Featured Section         */
// Desktop:
.featured-sect {
  display: grid;
  grid-template-columns: 50% auto;

  .featured-info {
    h2 {
      padding-bottom: 1.75rem;
    }

    h5 {
      padding-bottom: 3.75rem;
    }
  }

  .featured-img {
    margin-left: auto;
  }
}

/*                  4                 */
/*            About Section           */
// Desktop:
.about-sect {
  h2 {
    padding-bottom: 4rem;
  }

  .about-1 {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 2rem;
    padding-bottom: 3rem;

    .about-text-1 {
      margin: auto;
      height: 50%;
    }
  }

  .about-2 {
    display: grid;
    grid-template-columns: 70% auto;
    column-gap: 2rem;
    overflow: hidden;

    .cv-download {
      margin: auto;
      height: 5%;
    }
  }
}

/*                  5                 */
/*          Projects Section         */
// Desktop:
.projects-sect {
  h2 {
    padding-bottom: 4rem;
  }

  .projects-card:not(:last-child) {
    padding-bottom: 8rem;
  }

  .projects-card {
    display: grid;
    grid-template-columns: 60% auto;
    column-gap: 2rem;

    .projects-info {
      h2 {
        padding-bottom: 1rem;
      }

      ul {
        padding: 0;
        padding-bottom: 1rem;
        display: flex;

        li:last-child {
          padding-left: 1.5rem;
        }
      }

      h5 {
        padding-bottom: 2rem;
      }

      .projects-desc {
        background-color: $almost-black;
        border-radius: 0.5rem;
        padding: 1rem;

        h5 {
          color: $just-white;
          padding-bottom: 0;
        }
      }
    }

    .projects-img {
      height: 80%;
      margin: auto;

      z-index: -1;
    }
  }
}

/*                  6                 */
/*           Skills Section          */
// Desktop:
.skills-sect {
  h2 {
    padding-bottom: 4rem;
  }

  .skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .skills-card {
      margin: 3rem;
      border-radius: 0.5rem;
      width: 225px;
      max-width: 100%;
      height: 275px;
      max-height: 100%;
      padding: 2rem;
      background-color: $almost-white;
      box-shadow: 0px 6px 18px 0px $night-grey;
      text-align: center;

      .skills-title {
        padding-bottom: 2rem;
      }
    }
  }
}

/*                  7                 */
/*          Contact Section          */
// Desktop:
.contact-sect {
  overflow: hidden;

  .contact-form {
    float: left;
    padding: 4.5rem 0rem 0rem 9rem;

    h2 {
      padding-bottom: 4rem;
    }

    p {
      padding-bottom: 3rem;

      input,
      textarea {
        width: 450px;
        max-width: 100%;
        height: 65px;
        border: 0;
        border-radius: 0.5rem;
        background-color: $morning-grey;
      }

      textarea {
        height: 120px;
      }
    }

    p:last-child {
      text-align: right;
    }
  }

  .contact-decor {
    float: right;
    text-align: center;
    background-color: $mustard-yellow;
    padding: 4.5rem 1.5rem 0rem 0rem;
    min-height: 720px;
    height: auto !important;
    height: 720px;
    max-width: 40%;

    .contact-head {
      overflow: visible;
      margin-left: 3rem;

      h3 {
        font-weight: 700;
        color: $just-white;
        padding-bottom: 5rem;
      }
    }

    .contact-img {
      position: relative;
      left: -10rem;
    }
    .contact-foot {
      p {
        position: relative;
        bottom: -5rem;
      }
    }
  }
}
