/*          Fonts          */
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:wght@400;700&display=swap");
/*          Colors          */
/*          Font Sizes          */
/*          Page Configs          */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
}

/*          Text Configs          */
h1,
h2,
h3,
h4,
h5,
p,
a {
  line-height: 150%;
  color: #282321;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display";
}

h5,
p,
a {
  font-family: "Fauna One";
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  letter-spacing: 7px;
  font-weight: 700;
}

.featured-h2 {
  color: #f6bd3a;
  letter-spacing: normal;
}

.projects-h2 {
  letter-spacing: normal;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  color: #83828a;
}

.skills-h3 {
  color: #f6bd3a;
}

h4 {
  font-size: 22px;
  font-weight: 400;
}

.hero-h4 {
  font-family: "Fauna One";
}

.featured-h4 {
  letter-spacing: 7px;
  color: #83828a;
}

.projects-h4 {
  color: #83828a;
}

h5,
input,
textarea {
  font-size: 20px;
  font-weight: 400;
}

.projects-h5 {
  color: #83828a;
}

p {
  font-size: 16px;
}

a {
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #f6bd3a;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5,
  input,
  textarea {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

/*          Button Configs          */
.yellow-btn {
  font-size: 22px;
  font-family: "Fauna One";
  font-weight: 400;
  background-color: #f6bd3a;
  border: none;
  border-radius: 0.5rem;
  color: #282321;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.orange-btn {
  font-size: 22px;
  font-family: "Fauna One";
  font-weight: 400;
  background-color: #ec6315;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.orange-btn span {
  padding-left: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .yellow-btn {
    font-size: 16px;
    padding: 0.5rem;
  }
  .orange-btn {
    font-size: 16px;
    padding: 0.5rem;
  }
}

/*          General Configs          */
section:nth-child(n + 3) {
  padding: 4.5rem 9rem;
}

.mobile {
  display: none;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  section:nth-child(n + 3) {
    padding: 2.25rem 1.125rem;
    text-align: center;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop {
    display: none;
  }
}

/*                  1                 */
/*           Top Navigation          */
.nav-sect {
  padding: 1rem 9rem;
  background-color: #f0f0f0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-sect .nav-logo {
  float: left;
}

.nav-sect .nav-items {
  float: right;
}

.nav-sect .nav-items a {
  padding-left: 2.5rem;
}

@media only screen and (max-width: 800px) {
  .nav-sect {
    padding: 0.625rem 1.125rem;
    overflow: hidden;
  }
  .nav-sect .nav-logo {
    float: left;
  }
  .nav-sect .open-icon {
    float: right;
  }
  .nav-sect .nav-items {
    height: 100vh;
    background-color: #282321;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  .nav-sect .nav-items .collapse-icon {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-sect .nav-items a:nth-child(1) {
    padding-bottom: 3rem;
  }
  .nav-sect .nav-items a {
    display: block;
    color: #f6bd3a;
    padding: 1.5rem;
  }
  .nav-sect .nav-items ul {
    padding: 0;
  }
  .nav-sect .nav-items ul li {
    padding-top: 3rem;
  }
}

/*                  2                 */
/*            Hero Section           */
.hero-sect {
  padding: 3.75rem 8rem 0rem 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
}

.hero-sect .hero-img img {
  max-width: 100%;
}

.hero-sect .hero-info .hero-text {
  float: left;
  text-align: right;
}

.hero-sect .hero-info .hero-text h1 {
  padding-top: 4.75rem;
}

.hero-sect .hero-info .hero-text h4 {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.hero-sect .hero-info .hero-text hr {
  max-width: 7rem;
  border-width: 0.5px;
  margin-left: 85%;
}

.hero-sect .hero-info .hero-socials {
  float: right;
  padding-top: 8rem;
  padding-left: 1.5rem;
}

.hero-sect .hero-info .hero-socials ul li:not(:last-child) {
  padding-bottom: 2.5rem;
}

@media only screen and (max-width: 800px) {
  .hero-sect {
    padding: 2.25rem 1.125rem;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .hero-sect .hero-info .hero-text {
    float: none;
    text-align: center;
  }
  .hero-sect .hero-info .hero-text h1 {
    padding-top: 0.75rem;
  }
  .hero-sect .hero-info .hero-text h4 {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .hero-sect .hero-info .hero-text hr {
    margin-left: auto;
  }
  .hero-sect .hero-info .hero-socials {
    float: none;
  }
}

/*                  3                 */
/*          Featured Section         */
.featured-sect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
}

.featured-sect .featured-info h2 {
  padding-bottom: 1.75rem;
}

.featured-sect .featured-info h5 {
  padding-bottom: 3.75rem;
}

.featured-sect .featured-img {
  margin-left: auto;
}

@media only screen and (max-width: 800px) {
  .featured-sect {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .featured-sect .featured-info h2 {
    padding-bottom: 1rem;
  }
  .featured-sect .featured-info h5 {
    padding-bottom: 2rem;
  }
  .featured-sect .featured-img {
    padding-top: 2.5rem;
  }
  .featured-sect .featured-img img {
    max-width: 100%;
  }
}

/*                  4                 */
/*            About Section           */
.about-sect h2 {
  padding-bottom: 4rem;
}

.about-sect .about-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding-bottom: 3rem;
}

.about-sect .about-1 .about-text-1 {
  margin: auto;
  height: 50%;
}

.about-sect .about-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  overflow: hidden;
}

.about-sect .about-2 .cv-download {
  margin: auto;
  height: 5%;
}

@media only screen and (max-width: 800px) {
  .about-sect h2 {
    padding-bottom: 2rem;
  }
  .about-sect .about-1 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-bottom: 1.75rem;
  }
  .about-sect .about-1 .about-img img {
    max-width: 100%;
  }
  .about-sect .about-1 .about-text-1 {
    margin: 0;
    height: auto;
  }
  .about-sect .about-2 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .about-sect .about-2 .cv-download {
    padding-top: 2rem;
    margin: 0;
    height: auto;
  }
}

/*                  5                 */
/*          Projects Section         */
.projects-sect h2 {
  padding-bottom: 4rem;
}

.projects-sect .projects-card:not(:last-child) {
  padding-bottom: 8rem;
}

.projects-sect .projects-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.projects-sect .projects-card .projects-info h2 {
  padding-bottom: 1rem;
}

.projects-sect .projects-card .projects-info ul {
  padding: 0;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-sect .projects-card .projects-info ul li:last-child {
  padding-left: 1.5rem;
}

.projects-sect .projects-card .projects-info h5 {
  padding-bottom: 2rem;
}

.projects-sect .projects-card .projects-info .projects-desc {
  background-color: #282321;
  border-radius: 0.5rem;
  padding: 1rem;
}

.projects-sect .projects-card .projects-info .projects-desc h5 {
  color: #ffffff;
  padding-bottom: 0;
}

.projects-sect .projects-card .projects-img {
  height: 80%;
  margin: auto;
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .projects-sect h2 {
    padding-bottom: 2rem;
  }
  .projects-sect .projects-card:not(:last-child) {
    padding-bottom: 3.5rem;
  }
  .projects-sect .projects-card {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .projects-sect .projects-card .projects-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-sect .projects-card .projects-info ul li:last-child {
    padding-left: 1.5rem;
  }
  .projects-sect .projects-card .projects-info h5 {
    padding-bottom: 2rem;
  }
  .projects-sect .projects-card .projects-img {
    padding-top: 2.5rem;
    margin: 0;
    height: auto;
  }
  .projects-sect .projects-card .projects-img img {
    max-width: 100%;
  }
}

/*                  6                 */
/*           Skills Section          */
.skills-sect h2 {
  padding-bottom: 4rem;
}

.skills-sect .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills-sect .skills-content .skills-card {
  margin: 3rem;
  border-radius: 0.5rem;
  width: 225px;
  max-width: 100%;
  height: 275px;
  max-height: 100%;
  padding: 2rem;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 6px 18px 0px #83828a;
          box-shadow: 0px 6px 18px 0px #83828a;
  text-align: center;
}

.skills-sect .skills-content .skills-card .skills-title {
  padding-bottom: 2rem;
}

/*                  7                 */
/*          Contact Section          */
.contact-sect {
  overflow: hidden;
}

.contact-sect .contact-form {
  float: left;
  padding: 4.5rem 0rem 0rem 9rem;
}

.contact-sect .contact-form h2 {
  padding-bottom: 4rem;
}

.contact-sect .contact-form p {
  padding-bottom: 3rem;
}

.contact-sect .contact-form p input,
.contact-sect .contact-form p textarea {
  width: 450px;
  max-width: 100%;
  height: 65px;
  border: 0;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

.contact-sect .contact-form p textarea {
  height: 120px;
}

.contact-sect .contact-form p:last-child {
  text-align: right;
}

.contact-sect .contact-decor {
  float: right;
  text-align: center;
  background-color: #f6bd3a;
  padding: 4.5rem 1.5rem 0rem 0rem;
  min-height: 720px;
  height: auto !important;
  height: 720px;
  max-width: 40%;
}

.contact-sect .contact-decor .contact-head {
  overflow: visible;
  margin-left: 3rem;
}

.contact-sect .contact-decor .contact-head h3 {
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 5rem;
}

.contact-sect .contact-decor .contact-img {
  position: relative;
  left: -10rem;
}

.contact-sect .contact-decor .contact-foot p {
  position: relative;
  bottom: -5rem;
}
/*# sourceMappingURL=main.css.map */